body{
    background-color: rgb(245, 245, 245);
}
h1, h2, h3, h4, h5, h6{
    font-weight: 400;
}
.App{
    width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
}
.mainDiv{
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
}
.mainDiv img{
    width: 300px;
}
.inputField{
    text-align: center;
    padding: 20px;
    margin: 10px;
}
.inputField input{
    height: 28px;
    width: 500px;
}
.inputField button{
    height: 35px;
    width: 120px;
    border: none;
    background-color: rgb(0, 146, 73);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}